@import '../styles/helpers/variables.less';

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerUltraLight.eot');
    src: local('../fonts/Muller UltraLight'), local('../fonts/MullerUltraLight'),
        url('../fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerUltraLight.woff2') format('woff2'),
        url('../fonts/MullerUltraLight.woff') format('woff'),
        url('../fonts/MullerUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBoldItalic.eot');
    src: local('../fonts/Muller Bold Italic'), local('../fonts/MullerBoldItalic'),
        url('../fonts/MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBoldItalic.woff2') format('woff2'),
        url('../fonts/MullerBoldItalic.woff') format('woff'),
        url('../fonts/MullerBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.eot');
    src: local('../fonts/Muller Medium'), local('../fonts/MullerMedium'),
        url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff'),
        url('../fonts/MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerExtraBoldItalic.eot');
    src: local('../fonts/Muller ExtraBold Italic'), local('../fonts/MullerExtraBoldItalic'),
        url('../fonts/MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/MullerExtraBoldItalic.woff') format('woff'),
        url('../fonts/MullerExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerUltraLightItalic.eot');
    src: local('../fonts/Muller UltraLight Italic'), local('../fonts/MullerUltraLightItalic'),
        url('../fonts/MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerUltraLightItalic.woff2') format('woff2'),
        url('../fonts/MullerUltraLightItalic.woff') format('woff'),
        url('../fonts/MullerUltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: local('../fonts/Muller Regular'), local('../fonts/MullerRegular'),
        url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBlackItalic.eot');
    src: local('../fonts/Muller Black Italic'), local('../fonts/MullerBlackItalic'),
        url('../fonts/MullerBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBlackItalic.woff2') format('woff2'),
        url('../fonts/MullerBlackItalic.woff') format('woff'),
        url('../fonts/MullerBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Hairline';
    src: url('../fonts/MullerHairlineItalic.eot');
    src: local('../fonts/Muller Hairline Italic'), local('../fonts/MullerHairlineItalic'),
        url('../fonts/MullerHairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerHairlineItalic.woff2') format('woff2'),
        url('../fonts/MullerHairlineItalic.woff') format('woff'),
        url('../fonts/MullerHairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerHeavyItalic.eot');
    src: local('../fonts/Muller Heavy Italic'), local('../fonts/MullerHeavyItalic'),
        url('../fonts/MullerHeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerHeavyItalic.woff2') format('woff2'),
        url('../fonts/MullerHeavyItalic.woff') format('woff'),
        url('../fonts/MullerHeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerThinItalic.eot');
    src: local('../fonts/Muller Thin Italic'), local('../fonts/MullerThinItalic'),
        url('../fonts/MullerThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerThinItalic.woff2') format('woff2'),
        url('../fonts/MullerThinItalic.woff') format('woff'),
        url('../fonts/MullerThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Hairline';
    src: url('../fonts/MullerHairline.eot');
    src: local('../fonts/Muller Hairline'), local('../fonts/MullerHairline'),
        url('../fonts/MullerHairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerHairline.woff2') format('woff2'),
        url('../fonts/MullerHairline.woff') format('woff'),
        url('../fonts/MullerHairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerHeavy.eot');
    src: local('../fonts/Muller Heavy'), local('../fonts/MullerHeavy'),
        url('../fonts/MullerHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerHeavy.woff2') format('woff2'),
        url('../fonts/MullerHeavy.woff') format('woff'),
        url('../fonts/MullerHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerThin.eot');
    src: local('../fonts/Muller Thin'), local('../fonts/MullerThin'),
        url('../fonts/MullerThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerThin.woff2') format('woff2'),
        url('../fonts/MullerThin.woff') format('woff'),
        url('../fonts/MullerThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLightItalic.eot');
    src: local('../fonts/Muller Light Italic'), local('../fonts/MullerLightItalic'),
        url('../fonts/MullerLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerLightItalic.woff2') format('woff2'),
        url('../fonts/MullerLightItalic.woff') format('woff'),
        url('../fonts/MullerLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.eot');
    src: local('../fonts/Muller Light'), local('../fonts/MullerLight'),
        url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerLight.woff2') format('woff2'),
        url('../fonts/MullerLight.woff') format('woff'),
        url('../fonts/MullerLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBlack.eot');
    src: local('../fonts/Muller Black'), local('../fonts/MullerBlack'),
        url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBlack.woff2') format('woff2'),
        url('../fonts/MullerBlack.woff') format('woff'),
        url('../fonts/MullerBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.eot');
    src: local('../fonts/Muller Bold'), local('../fonts/MullerBold'),
        url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerExtraBold.eot');
    src: local('../fonts/Muller ExtraBold'), local('../fonts/MullerExtraBold'),
        url('../fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerExtraBold.woff2') format('woff2'),
        url('../fonts/MullerExtraBold.woff') format('woff'),
        url('../fonts/MullerExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/MullerRegularItalic.eot');
    src: local('../fonts/Muller Regular Italic'), local('../fonts/MullerRegularItalic'),
        url('../fonts/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegularItalic.woff2') format('woff2'),
        url('../fonts/MullerRegularItalic.woff') format('woff'),
        url('../fonts/MullerRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMediumItalic.eot');
    src: local('../fonts/Muller Medium Italic'), local('../fonts/MullerMediumItalic'),
        url('../fonts/MullerMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerMediumItalic.woff2') format('woff2'),
        url('../fonts/MullerMediumItalic.woff') format('woff'),
        url('../fonts/MullerMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?nm5wsj');
    src:  url('../fonts/icomoon.eot?nm5wsj#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?nm5wsj') format('truetype'),
      url('../fonts/icomoon.woff?nm5wsj') format('woff'),
      url('../fonts/icomoon.svg?nm5wsj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cross:before {
    content: "\e964";
  }
  .icon-placeholder:before {
    content: "\e965";
  }
  .icon-advertising .path1:before {
    content: "\e908";
    color: rgb(230, 236, 241);
  }
  .icon-advertising .path2:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-advertising .path3:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(255, 90, 100);
  }
  .icon-advertising .path4:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path5:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path6:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path7:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path8:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path9:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path10:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path11:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path12:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path13:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path14:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path15:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path16:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path17:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path18:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path19:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path20:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path21:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path22:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path23:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path24:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path25:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path26:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path27:before {
    content: "\e922";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path28:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-advertising .path29:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-service .path1:before {
    content: "\e925";
    color: rgb(230, 236, 241);
  }
  .icon-service .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-service .path3:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(67, 138, 251);
  }
  .icon-service .path4:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-service .path5:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-service .path6:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(255, 90, 100);
  }
  .icon-service .path7:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-branding .path1:before {
    content: "\e92c";
    color: rgb(230, 236, 241);
  }
  .icon-branding .path2:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(220, 33, 251);
  }
  .icon-branding .path3:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(255, 90, 100);
  }
  .icon-branding .path4:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(67, 138, 251);
  }
  .icon-branding .path5:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-branding .path6:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-branding .path7:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-branding .path8:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-other .path1:before {
    content: "\e934";
    color: rgb(0, 0, 0);
  }
  .icon-other .path2:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(81, 184, 44);
  }
  .icon-other .path3:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(255, 90, 100);
  }
  .icon-other .path4:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(67, 138, 251);
  }
  .icon-other .path5:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-other .path6:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-other .path7:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-other .path8:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-other .path9:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-other .path10:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path1:before {
    content: "\e93e";
    color: rgb(230, 236, 241);
  }
  .icon-promotion .path2:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(220, 33, 251);
  }
  .icon-promotion .path3:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(33, 133, 251);
  }
  .icon-promotion .path4:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path5:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path6:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path7:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path8:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path9:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path10:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path11:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path12:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path13:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path14:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path15:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path16:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path17:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path18:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path19:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-promotion .path20:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-sites .path1:before {
    content: "\e952";
    color: rgb(67, 138, 251);
  }
  .icon-sites .path2:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path3:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path4:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path5:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path6:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path7:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path8:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path9:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(255, 90, 100);
  }
  .icon-sites .path10:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-sites .path11:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path12:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(230, 236, 241);
  }
  .icon-sites .path13:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-sites .path14:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-sites .path15:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-sites .path16:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-sites .path17:before {
    content: "\e962";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-sites .path18:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-menu:before {
    content: "\e907";
  }
  .icon-instagram:before {
    content: "\e900";
    color: #fff;
  }
  .icon-vk:before {
    content: "\e901";
    color: #fff;
  }
  .icon-youtube:before {
    content: "\e902";
    color: #fff;
  }
  .icon-arrow:before {
    content: "\e903";
    color: #60789d;
  }
  .icon-breef:before {
    content: "\e904";
  }
  .icon-pdf:before {
    content: "\e905";
    color: #fff;
  }
  .icon-phone:before {
    content: "\e906";
  }
  