a {
  cursor: pointer;
  color: #000;
  font-weight: 400;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
  opacity: 1;
}
a,
a:hover,
.button,
.slider-buttons__button,
input {
  transition: all 0.5s ease-in-out;
}
body {
  margin: 0;
  background: #fff;
  cursor: default;
  overflow-x: hidden;
}
body *::-moz-selection {
  background: #FF5A64;
  color: #fff;
}
body *::-webkit-selection {
  background: #FF5A64;
  color: #fff;
}
body *::selection {
  background: #FF5A64;
  color: #fff;
}
.container {
  margin: 0 auto;
  width: 1040px;
}
@media screen and (max-width: 1300px) {
  .container {
    width: 100%;
  }
}
.form {
  display: flex;
}
.form__title {
  font-size: 22px;
  font-family: 'lator', sans-serif;
  color: #000;
}
.form__body {
  display: flex;
  flex-direction: row;
}
.form__input[type='text'] {
  padding: 0 22px;
  width: 300px;
  height: 52px;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'lator', sans-serif;
  color: #000;
}
.form__input[type='submit'] {
  width: 230px;
  height: 52px;
  font-size: 18px;
  font-family: 'latob', sans-serif;
  font-weight: bold;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.form__small-desc {
  margin-top: 8px;
  font-size: 14px;
  font-family: 'lator', sans-serif;
  color: rgba(0, 0, 0, 0.3);
}
.form__small-desc a {
  opacity: 0.3;
}
.form__small-desc a:hover {
  opacity: 1;
}
.block {
  position: relative;
  width: 50%;
}
.ml-16 {
  margin-left: 16px;
}
@media screen and (max-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .block {
    position: relative;
    width: 100%;
  }
  .form__input[type='submit'] {
    width: 100%;
  }
}
.block {
  color: #233456;
}
.block__title {
  margin: 0;
  padding: 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
}
.block__desc {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  margin-top: 22px;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.block__content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.block__item {
  margin-right: 34px;
  margin-bottom: 34px;
  width: 50%;
}
.block__item:last-child {
  margin-right: 0;
}
.block__item-title {
  margin-top: 20px;
  font-family: Muller;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #233456;
}
.block__container {
  padding: 48px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
.block__container span {
  font-size: 66px;
}
@media screen and (max-width: 1300px) {
  .block__content {
    flex-wrap: wrap;
  }
  .block__item {
    margin: 0 1.6%;
    max-width: 30%;
  }
  .block__container {
    text-align: center;
  }
}
@media screen and (max-width: 720px) {
  .block__content {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .block__item {
    margin: 0 0 20px 0;
    max-width: 100%;
    min-width: 100%;
  }
  .block__container {
    text-align: center;
    max-width: 100%;
    min-width: 100%;
  }
}
.button {
  padding: 14px 20px;
  border-radius: 4px;
  background: #fff;
  display: inline-flex;
  text-decoration: none;
  color: #000;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0px 16px 32px rgba(75, 60, 60, 0.1);
  border: 0;
  outline: 0;
  cursor: pointer;
}
.button:hover {
  text-decoration: none;
}
.button span {
  margin-left: 20px;
  color: #000;
}
.button_colored {
  color: #fff;
}
.button_colored span {
  margin-left: 20px;
  color: #fff;
}
.button_red {
  background: #FF5A64;
  box-shadow: 0px 16px 32px rgba(255, 90, 100, 0.2);
}
.button_blue {
  background: #2185FB;
  box-shadow: 0px 16px 32px rgba(67, 138, 251, 0.2);
}
.completed-projects {
  position: relative;
  margin: 40px 0 100px 0;
  height: auto;
  width: 100%;
}
.completed-projects__info {
  flex-grow: 1;
  width: 100%;
  color: #000;
}
.completed-projects__info .block__item {
  width: 33.3%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.completed-projects__info .block__container {
  min-height: 210px;
  width: 100%;
}
.completed-projects__info .block__container {
  text-align: center;
}
.completed-projects__info .block__title {
  margin: 30px 0 20px 0;
}
.completed-projects__info .block__subtitle {
  font-size: 72px;
  font-family: Muller;
  font-style: normal;
  font-weight: 700;
}
.completed-projects__info .block__subtext {
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.completed-projects__info .block__subtitle_purple {
  color: #DC21FB;
}
.completed-projects__info .block__subtitle_blue {
  color: #2185FB;
}
.completed-projects__info .block__subtitle_red {
  color: #FF5A64;
}
.completed-projects__block {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.completed-projects__content {
  margin: -38px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.completed-projects__content a:last-child {
  margin-right: -26px;
}
.footer {
  padding: 20px 0;
  background: #233456;
  height: auto;
}
@media screen and (max-width: 720px) {
  footer .bar {
    text-align: center;
  }
  footer .bar__logo {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  footer .bar__other,
  footer .bar__container {
    flex-direction: column;
  }
  footer .bar__phone-link {
    margin: 20px 0;
    display: block;
  }
}
.right {
  float: right;
  position: absolute;
  right: 0;
}
body {
  padding-top: 490px;
}
.header {
  top: -10px;
  position: absolute;
  width: 100%;
  margin-top: 60px;
  height: 470px;
  background: url('../img/air.png') repeat-x bottom;
}
.header_trava {
  top: -10px;
  background: url('../img/bg-2.png') repeat-x bottom;
}
.header_trava .header__title {
  left: inherit;
  right: 0;
  top: 58px;
}
.header_trava .header__kran {
  position: absolute;
  left: 0;
  top: 0;
}
.header__air,
.header__ship,
.header__line,
.header__title {
  position: absolute;
}
.header__air {
  bottom: 0;
}
.header__line {
  top: 210px;
  right: 254px;
}
.header__ship {
  right: 0;
  top: 90px;
}
.header__title {
  left: 0;
  top: 58px;
}
.slider__item {
  position: relative;
}
.slider__buttons {
  margin-top: 230px;
  display: flex;
  flex-direction: row;
}
.slider__item {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1300px) {
  .header__air,
  .header__ship,
  .header__line,
  .header__title {
    width: 60%;
    height: auto;
  }
  .header__line {
    right: 20%;
    width: 40%;
    display: none;
  }
  .header__title {
    width: 50%;
  }
  .header__ship {
    top: 40%;
    right: 4%;
    margin: 0 auto;
    width: 218px;
    height: auto;
  }
  .slider__item {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .header {
    height: auto;
    padding-bottom: 40px;
  }
  .header__air,
  .header__ship,
  .header__line,
  .header__title {
    position: relative;
  }
  .header__line {
    right: 20%;
    width: 40%;
    display: none;
  }
  .header__title {
    width: 90%;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 90px;
  }
  .header__ship {
    top: inherit;
    right: inherit;
    margin: 0 auto;
    width: 40%;
    height: auto;
  }
  .slider__item {
    display: flex;
    flex-direction: column;
  }
  .slider__buttons {
    margin: 0 10%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slider__buttons .button {
    margin-bottom: 20px;
    justify-content: center;
  }
  .slider__buttons .ml-16 {
    margin: 0;
  }
}
.bar {
  position: relative;
}
.bar_top {
  top: 0;
  width: 100%;
  position: fixed;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  background: #fff;
  z-index: 10;
}
.bar__logo img {
  width: 220px;
  height: auto;
}
.bar__logo_small img {
  width: 90%;
  height: auto;
}
.bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar__other {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.bar__other_col {
  flex-direction: column;
}
.bar__phone-link {
  margin-left: 52px;
}
.bar__menu {
  display: none;
  text-decoration: none;
}
.bar__menu:hover {
  color: #FF5A64;
  text-decoration: none;
}
.bar__link {
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation__link {
  padding: 0 16px;
  display: flex;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #233456;
  text-decoration: none;
}
.navigation__link:hover {
  text-decoration: none;
  color: #2185FB;
}
.phone-link {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone-link_white span {
  color: #fff;
}
.phone-link:hover {
  color: #FF5A64;
  text-decoration: none;
}
.phone-link__icon {
  margin-top: -4px;
  font-size: 16px;
  color: #000;
}
.phone-link__number {
  margin-left: 10px;
}
.menu {
  margin: 6px 0 0 20px;
  height: 32px;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(35, 52, 86, 0.98);
  z-index: 100;
  top: 0;
  overflow-y: hidden;
}
.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
}
.mobile-menu__link {
  margin-bottom: 20px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.mobile-menu__container {
  padding: 48px;
  display: flex;
  flex-direction: column;
}
.mobile-menu__navigation {
  margin: 0;
  margin-top: 140px;
  padding: 0;
  list-style: none;
}
.mobile-menu__item {
  margin-bottom: 30px;
}
.mobile-menu__link {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 540px) {
  .bar__phone-link {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .pin {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .bar__menu {
    display: block;
    margin-left: 40px;
    font-size: 28px;
    text-decoration: none;
  }
  .bar__navigation {
    display: none;
  }
}
.order_top {
  margin-top: -64px;
}
.order__container {
  border-radius: 4px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.order__title {
  margin: 0;
  padding: 0;
  width: 40%;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.order .button {
  min-width: 100px;
  justify-content: center;
}
.order__input {
  padding: 0 14px;
  background: #FFFFFF;
  border: 1px solid #E6ECF1;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  outline: 0;
}
@media screen and (max-width: 1300px) {
  .order__title {
    margin-bottom: 30px;
    width: 100%;
  }
  .order__container {
    flex-direction: column;
  }
  .order__input {
    width: 100%;
  }
  .order .button {
    width: 100px;
    padding: 20px 80px;
    max-width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 720px) {
  .order {
    margin-top: 20px;
    position: relative;
  }
  .order__title {
    margin-bottom: 30px;
    width: 100%;
  }
  .order__container {
    flex-direction: column;
  }
  .order__input {
    margin-bottom: 14px;
    width: 100%;
    height: 60px;
  }
  .order__form {
    flex-direction: column;
  }
  .order .button {
    margin: 0;
    margin-bottom: 14px;
    width: 100%;
    padding: 20px 80px;
    max-width: 100%;
    box-sizing: border-box;
  }
}
.popup {
  position: relative;
  max-width: 320px;
  padding: 40px;
  background: #fff;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}
.popup_long {
  max-width: 660px;
  height: 500px;
  overflow: auto;
}
.popup__title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 32px;
  font-family: 'serifb', sans-serif;
}
.popup__close {
  top: 20px;
  right: 20px;
  position: absolute;
  display: block;
}
.popup__close:hover {
  transform: rotate(360deg);
}
.popup__icon {
  width: 22px;
  height: 22px;
}
.popup__content {
  font-size: 16px;
  font-family: 'lator', sans-serif;
  line-height: 20px;
}
.popup__form {
  flex-direction: column;
  justify-content: center;
}
.popup__form input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.popup__form input:last-child {
  margin-bottom: 0;
}
.popup__form .form__input {
  width: 100%;
}
.services {
  margin-top: 60px;
}
.projects {
  margin: 60px 0;
  height: auto;
  padding-bottom: 120px;
}
@media screen and (max-width: 1600px) {
  .projects {
    width: 100%;
    overflow: hidden;
  }
}
.projects .block__content {
  flex-direction: row;
}
.projects .projects__item {
  max-width: 100%;
  min-width: 63%;
  margin: 0 5.5% 0 0;
  height: 100px;
}
.projects .projects__item:last-child {
  margin-right: 0;
}
.projects .projects__item img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.projects .block__container {
  min-height: 200px;
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.projects .block__container {
  padding: 48px;
}
.projects .block__project {
  width: 100%;
  height: auto;
  display: flex;
}
@media screen and (max-width: 1600px) {
  .projects {
    margin: 60px 0;
  }
  .projects .block__content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects .projects__item {
    min-width: 12%;
    width: 30%;
    margin: 0 4% 0 0;
  }
}
@media screen and (max-width: 720px) {
  .projects {
    margin: 60px 0;
  }
  .projects .block__content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .projects .projects__item {
    min-width: 100%;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
.specialists {
  position: relative;
  margin: 40px 0 100px 0;
  height: 180px;
  width: 100%;
  background: #FF5A64;
}
.specialists__info {
  flex-grow: 1;
  width: 100%;
}
.specialists__info .block__title {
  margin: 30px 0 20px 0;
}
.specialists__block {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.specialists__content {
  margin: -38px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.specialists__content a:last-child {
  margin-right: -26px;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 60px;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
