// specialists

.specialists {
    margin: 40px 0 100px 0;
    height: 180px;
    width: 100%;
    background: @color-red;

    &__block {
        color: @color-white;
        display: flex;
        flex-direction: row;
    }

    &__content {
        margin: -40px 0 0 0;
        display: flex;
        justify-content: flex-end;
    }

}

