mixin specialists
    - data = data || {};
    .specialists
        .container.specialists__container
            .block.specialists__block
                .block__info.specialists__info
                    .block__title.wow.fadeIn Специалисты с квалификацией
                    .block__desc.wow.fadeIn Текст рыба, количество реализованных проектов
                .block__content.specialists__content
                    a(href="#" title="")
                        img(src="../img/sert.png" alt="@@")
                    a(href="#" title="")
                        img(src="../img/sert.png" alt="@@")
                    a(href="#" title="")
                        img(src="../img/sert.png" alt="@@")