mixin popup(data)
    - data = data || {};
    section.popup(class = data.class, role = data.role)
        h2.popup__title!=data.title
        a.popup__close(href="#" title="")
            img.popup__icon(src="../img/icons/icon-13.png" alt="@@")
        form.form.send-form.popup__form(action='../mail.php' method='post')
            input.form__input(type="text" name='name' placeholder='Ваше имя' required)
            input.form__input(type="text" name='email' placeholder='E-mail' required)
            input.form__input.phone-mask(type="text" name='tel' placeholder='Номер телефона' required)
            input(type="hidden" id="action" name="action" value="submitform")
            input.form__input(type='submit' value='Заказать звонок')

mixin popupPolytic(data)
    - data = data || {};
    section.popup.popupPolytic(class = data.class, role = data.role)
        h2.popup__title!=data.title
        a.popup__close(href="#" title="")
            img.popup__icon(src="../img/icons/icon-13.png" alt="@@")
        p.popup__content Я, в соответствии со статьей 9 Федерального закона от 27 июля 2006 года №152-ФЗ "О персональных данных", даю согласие Бюро правовой экспертизы «Серьезные люди» на обработку моих персональных данных.
        p.popup__content Согласие распространяется на следующую информацию: мои ФИО, телефон, e-mail, иная информация, относящаяся к моей личности и указанная мной при заказе обратной связи на сайте seriousman.ru или переданная мною сотрудникам Бюро правовой экспертизы «Серьезные люди» в процессе сотрудничества (в том числе паспортные данные, дата рождения, почтовый адрес, ИНН и т.д.).

        p.popup__content Согласие на обработку персональных данных дается мною в следующих целях:

        p.popup__content для осуществления прямых контактов (в том числе по электронной почте, по телефону, лично) при рассмотрении возможностей дальнейшего сотрудничества;
        p.popup__content для заключения договоров на оказание юридических, консалтинговых услуг и иных договоров;
        p.popup__content для создания Бюро правовой экспертизы «Серьезные люди» информационных систем персональных данных клиентов и/или потенциальных клиентов;
        p.popup__content для осуществления клиентской поддержки;
        p.popup__content для получения клиентом информации о событиях, акциях, новостях, мероприятиях и т.п. Бюро правовой экспертизы «Серьезные люди», а также корреспонденции от Бюро;
        p.popup__content для проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг;
        p.popup__content а также в любых других целях, прямо или косвенно связанных с сотрудничеством между Бюро правовой экспертизы «Серьезные люди» и клиентом (потенциальным клиентом), предложением услуг Бюро, и для направления мне информации об услугах Бюро и/или его контрагентов.
        p.popup__content Согласие предоставляется на осуществление любых действий в отношении персональных данных, которые необходимы для достижения вышеуказанных целей, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных. При обработке персональных данных Бюро правовой экспертизы «Серьезные люди» имеет право применять различные способы их обработки, если такое право не ограничено действующим законодательством.

        p.popup__content Персональные данные клиентов хранятся на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с производственным процессом Бюро правовой экспертизы «Серьезные люди» или исполнением требований законодательства.

        p.popup__content Бюро правовой экспертизы «Серьезные люди» обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:

        p.popup__content По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ;
        p.popup__content Стратегическим партнерам, которые работают с Бюро правовой экспертизы «Серьезные люди». Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимых действий.
        p.popup__content Настоящее согласие действует в течение 10 (десяти) лет со дня его получения, либо до дня получения Бюро правовой экспертизы «Серьезные люди» отзыва данного согласия в письменной форме.

        p.popup__content Бюро правовой экспертизы «Серьезные люди» оставляет за собой право вносить изменения в одностороннем порядке в настоящую форму согласия на обработку персональных данных, при условии, что изменения не противоречат действующему законодательству РФ. Изменения формы согласия на обработку персональных данных вступают в силу после их публикации на Сайте

mixin popupThanks(data)
    - data = data || {};
    section.popup.popupThanks(class = data.class, role = data.role)
        h2.popup__title!=data.title
        a.popup__close(href="#" title="")
            img.popup__icon(src="../img/icons/icon-13.png" alt="@@")
        p.popup__title Спасибо. Мы скоро свяжемся с Вами!