include ../blocks/head/head
include ../blocks/header/header
include ../blocks/topbar/topbar
include ../blocks/footer/footer
include ../blocks/order/order
include ../blocks/services/services
include ../blocks/projects/projects
include ../blocks/specialists/specialists

doctype html
html(lang='ru')
  +head({
    title: 'Креативное интернет агенство — <METACAT>',
    keywords: '',
    description: ''
  })
  body

    // topbar
    +topbar({
      role: 'navigation',
      logo: 'logo',
      items: [
        {link: '#services', title: '', value: 'Услуги'},
        {link: '#projects', title: '', value: 'Проекты'},
        {link: '#about', title: '', value: 'Кто мы'},
        {link: '#contacts', title: '', value: 'Контакты'}
      ],
      phonenumber: '7 (846) 215-07-80'
    })

    // header
    +header({
      role: 'header',
      class: 'wow fadeIn'

    })

    // order
    //+order({
      class: '',
    //})

    // services

    +services({
      
    })

    // completed projects

    // experts
    +specialists({
      
    })

    // projects
    +projects({
      items: [
        {class: 'wow fadeIn', img: 'project-1', href: '', title: '', alt: ''},
        {class: 'wow fadeIn', img: 'project-2', href: '', title: '', alt: ''},
        {class: 'wow fadeIn', img: 'project-3', href: '', title: '', alt: ''}
      ]
    })

    // order
    //+order({
    //  class: '',
    //})

    // footer
    +footer({
      role: 'footer',
      logo: 'logo-white',
      phonenumber: '7 (846) 215-07-80'
    })

    // scripts
    script(src='../js/jquery-3.4.1.min.js')
    script(src='../js/jquery.mask.min.js')
    script(src='../js/wow.js')
    script(src='../js/jquery.bpopup.min.js')
    script(src='../js/scripts.js')