mixin services(data)
    - data = data || {};
    .services
        .container.services__container
            .block.services__block
                .block__title НАШИ УСЛУГИ
                .block__desc Текст рыба, делаем все под ключ качественно
                .block__content
                    .block__item
                        span.icon-sites
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                            span.path6
                            span.path7
                            span.path8
                            span.path9
                            span.path10
                            span.path11
                            span.path12
                            span.path13
                            span.path14
                            span.path15
                            span.path16
                            span.path17
                            span.path18
                    .block__item
                        span.icon-promotion
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                            span.path6
                            span.path7
                            span.path8
                            span.path9
                            span.path10
                            span.path11
                            span.path12
                            span.path13
                            span.path14
                            span.path15
                            span.path16
                            span.path17
                            span.path18
                            span.path19
                            span.path20
                    .block__item
                        span.icon-advertising
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                            span.path6
                            span.path7
                            span.path8
                            span.path9
                            span.path10
                            span.path11
                            span.path12
                            span.path13
                            span.path14
                            span.path15
                            span.path16
                            span.path17
                            span.path18
                            span.path19
                            span.path20
                            span.path21
                            span.path22
                            span.path23
                            span.path24
                            span.path25
                            span.path26
                            span.path27
                            span.path28
                            span.path29
                    .block__item
                        span.icon-service
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                            span.path6
                            span.path7
                    .block__item
                        span.icon-branding
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                            span.path6
                            span.path7
                            span.path8
                    .block__item
                        span.icon-other
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                            span.path6
                            span.path7
                            span.path8
                            span.path9
                            span.path10