mixin services(data)
    - data = data || {};
    .services
        .container.services__container
            .block.services__block
                .block__title.wow.fadeIn НАШИ УСЛУГИ
                .block__desc.wow.fadeIn Текст рыба, делаем все под ключ качественно
                .block__content
                    .block__item.wow.fadeIn
                        .block__container
                            span.icon-sites
                                span.path1
                                span.path2
                                span.path3
                                span.path4
                                span.path5
                                span.path6
                                span.path7
                                span.path8
                                span.path9
                                span.path10
                                span.path11
                                span.path12
                                span.path13
                                span.path14
                                span.path15
                                span.path16
                                span.path17
                                span.path18
                        p.block__item-title Сайты
                    .block__item.wow.fadeIn
                        .block__container
                            span.icon-promotion
                                span.path1
                                span.path2
                                span.path3
                                span.path4
                                span.path5
                                span.path6
                                span.path7
                                span.path8
                                span.path9
                                span.path10
                                span.path11
                                span.path12
                                span.path13
                                span.path14
                                span.path15
                                span.path16
                                span.path17
                                span.path18
                                span.path19
                                span.path20
                        p.block__item-title Продвижение
                    .block__item.wow.fadeIn
                        .block__container
                            span.icon-advertising
                                span.path1
                                span.path2
                                span.path3
                                span.path4
                                span.path5
                                span.path6
                                span.path7
                                span.path8
                                span.path9
                                span.path10
                                span.path11
                                span.path12
                                span.path13
                                span.path14
                                span.path15
                                span.path16
                                span.path17
                                span.path18
                                span.path19
                                span.path20
                                span.path21
                                span.path22
                                span.path23
                                span.path24
                                span.path25
                                span.path26
                                span.path27
                                span.path28
                                span.path29
                        p.block__item-title Реклама
                    .block__item.wow.fadeIn
                        .block__container
                            span.icon-service
                                span.path1
                                span.path2
                                span.path3
                                span.path4
                                span.path5
                                span.path6
                                span.path7
                        p.block__item-title Обслуживание
                    .block__item.wow.fadeIn
                        .block__container
                            span.icon-branding
                                span.path1
                                span.path2
                                span.path3
                                span.path4
                                span.path5
                                span.path6
                                span.path7
                                span.path8
                        p.block__item-title Брендинг
                    .block__item.wow.fadeIn
                        .block__container
                            span.icon-other
                                span.path1
                                span.path2
                                span.path3
                                span.path4
                                span.path5
                                span.path6
                                span.path7
                                span.path8
                                span.path9
                                span.path10
                        p.block__item-title Дополнительно