mixin completed-projects
    - data = data || {};
    .completed-projects
        .container.specialists__container
            .block.specialists__block
                .block__info.completed-projects__info
                    .block__title.wow.fadeIn Наша статистика
                    .block__desc.wow.fadeIn Текст рыба, количество реализованных проектов
                    .block__content
                        .block__item
                            .block__container
                                .block__subtitle.block__subtitle_blue 65
                                .block__project.block__subtext Реализованных проектов
                        .block__item
                            .block__container
                                .block__subtitle.block__subtitle_red 87
                                .block__project.block__subtext Сайтов в ТОП 10 Яндекса
                        .block__item
                            .block__container
                                .block__subtitle.block__subtitle_purple 37
                                .block__project.block__subtext Забрендированных компаний